@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/source-sans-pro-v13-latin-700.eot');
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), 
  url('../fonts/source-sans-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/source-sans-pro-v13-latin-700.woff2') format('woff2'), 
  url('../fonts/source-sans-pro-v13-latin-700.woff') format('woff'), 
  url('../fonts/source-sans-pro-v13-latin-700.ttf') format('truetype'), 
  url('../fonts/source-sans-pro-v13-latin-700.svg#SourceSans Pro') format('svg');
}

@font-face {
	font-family: 'Roboto,Arial,sans-serif';
	font-style: normal;
	font-weight: 700;
  src: local('Roboto-Regular'), local('Roboto-Regular'), 
  url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: normal;;
    src: local('Segoe UI Regular'), local('Segoe UI Regular'),  
    url('../fonts/Segoe UI.woff') format('woff');
}

@font-face {
	font-family: 'Segoe UI Italic';
	font-style: normal;
	font-weight: normal;;
    src: local('Segoe UI Italic'), local('Segoe UI Italic'),  
    url('../fonts/Segoe UI Italic.woff') format('woff');
}

/* ==============
   Global Styles
   ============= */
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0
}
body {
	font-size: 0.875rem;
	line-height: 1.4;
	font-family: 'Roboto,Arial,sans-serif';
  color:#0B0A16;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color:#0B0A16;
}
p {
	margin-bottom: 25px
}
label {
	font-weight: 400;
	margin-bottom: 3px;
	color:#0B0A16;
}
ul,
ol {
	list-style: none;
	margin: 0 0 25px 0;
	padding: 0
}
a {
	color:#0B0A16;
	text-decoration: none;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none
}
a:hover,
a:focus {
	color:#0B0A16;
	text-decoration: none;
	outline: none
}

/* Layout Styles */

.wrapper, .thanks_wrapper{
    height: 800px;
    max-width: 1280px;
    margin: auto;
}

.survey__ban{
    background: transparent linear-gradient(235deg, #2B2E52 0%, #090910 100%) 0% 0% no-repeat padding-box;
    position: relative;
    height: 800px;
    overflow: hidden;
}

.survey_ban_item {
  background: url(../images/banner_img.jpg) no-repeat;
  max-height: 420px;
  height: 100%;
  background-position: bottom;
  background-size: cover;
  position: relative;
  opacity: 0.38;
}

.thanks_ban_item {
  background: url(../images/thanks.jpg) no-repeat;
  max-height: 100%;
  height: 100%;
  background-position: left;
  background-size: cover;
  position: relative;
}

.survey__title {
    position: absolute;
    top: 83px;
    left: 53px;
    max-width: 500px;
}

.thanks__title {
  max-width: 500px;
  height: 100%;
  text-align: center;
  float: right;
  display: table;
  width: 100%;
}

.thanks__title h1 {
  margin-bottom: 150px;
  font: Bold 45px/55px Source Sans Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.thanks_ban_center {
  display: table-cell;
  vertical-align: middle;
  max-width: 350px;
  position: relative;
}

.thanks_ban_center:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.survey__title h1 {
    font: Bold 67px/80px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 5px 0px 5px -5px;
}

.survey__title__health {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -webkit-flex-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: center;
    margin-top: 125px;
    margin-right: 50px;
}
.survey__title__health h3 {
    font: Bold 46px/58px Source Sans Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    max-width: 380px;
    margin: 0;
}

.survey__title__health button {
    background: #625FF1;
    border-radius: 50%;
    border: 1px solid #625ff1;
    color: #fff;
    width: 150px;
    height: 150px;
    margin-left: 85px;
}
.survey__title__health button a, .survey__title__health button img {
    width: 70px;
	  height: 70px;
    display: block;
    margin: auto;
}

.personal__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    position: relative;
}

.personal__item , .personal_data {
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
}

.personal__img {
    background: url(../images/profile.jpg) no-repeat;
}

.morbodies__img {
    background: url(../images/morbidies.jpg) no-repeat;
    background-position: top right !important;
}

.symptoms__img {
    background: url(../images/symptoms.jpg) no-repeat;
}

.habits__img {
  background: url(../images/habits.jpg) no-repeat;
}
.personal__img , .morbodies__img, .symptoms__img, .habits__img{ 
    background-size: cover;
    max-height: 100%;
    height: 100%;
    background-position: top;
    position: fixed;
    max-width: 500px;
    margin: auto;
    top: 1px;
    left: 3%;
    width: 100%;
}

.personal__img::after, .morbodies__img::after, .symptoms__img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.71);
    z-index: 2;
}

.personal_details h1{
    position: fixed;
    top: 11%;
    left: 7%;
    font: Bold 50px/45px Source Sans Pro;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 350px;
    z-index: 3;
    opacity: 1;
    margin: 0;
}

.personal_details img {
    position: fixed;
    left: 27%;
    bottom: 4%;
    z-index: 3;
}

.survey-form__statement {
    margin-bottom: 15px;
    letter-spacing: 0px;
    color: #0B0A16;
    margin-top: 25px;
    font-size: 1.125rem;
    line-height: 24px;
    font-family: segoe UI;
  }
  .habits__form .survey-form__statement {
    font-size: 1rem;
    line-height: 21px;
  }
  .font_italic{
    margin-bottom: 30px;
    font: Italic 20px/27px Segoe UI !important;
    color: #13132D;
  }
  .co__morbidies .survey-form__statement {
    font-size: 16px;
  }
  .survey-form__clue {
    font-weight: 300;
    font-size: 14px;
  }
  .survey-form__radio-container {
    display: inline-block;
    width: 100px;
    margin: 10px 0 20px;
  }
  .habits__form .survey-form__radio-container {
    min-width: 150px;
  }
  .survey-form__radio-container input {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
    margin-top: 2px;
    -webkit-appearance:none;
    border:1px solid #212043;
    border-radius:50%;
    outline:none;
  }
  input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
  }
  input[type='radio']:checked:before {
    background: #212043;
  }
  .co__morbidies .survey-form__radio-container {
      display: block;
      width: auto;
  }
  .survey-form__radio-container label {
    position: relative;
    font-size: 16px;
    vertical-align: top;
    margin-right: 6px;
    min-width: 30px;
    display: inline-block;
  }
  .survey-form__checkbox-container {
    margin-bottom: 16px;
  }
  .survey-form__checkbox-container:first-of-type {
    margin-top: 4px;
  }
  .survey-form__checkbox-container:last-child {
    margin-bottom: 32px;
  }
  .survey-form__checkbox-container label {
    position: relative;
  }
  .survey-form__checkbox-container label:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: solid 1px #88472e;
    display: inline-block;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    top: 5px;
    cursor: pointer;
  }
  .survey-form__checkbox-container input:checked ~ label:before {
    background-color: #88472e;
  }
  .survey-form__checkbox-container input:checked ~ label span:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 2px;
    height: 7px;
    transform: rotate(-45deg);
    top: 15px;
    left: 6px;
  }
  .survey-form__checkbox-container input:checked ~ label span:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 2px;
    height: 14px;
    transform: rotate(45deg);
    top: 9px;
    left: 12px;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    max-width: 370px;
    font-family: segoe UI;
    outline: 0px;
    display: block;
    width: 100%;
    margin: 3px 0 20px 0 !important;
    font-size: 16px;
    transition: 0.3s;
    background-color: #fff;
    border: 0;
    margin-top: 8px;
    color: #0B0A16;
    padding: 5px 0px;
    border-bottom: 1px solid #43425D;
  }
  input[type="number"] {
    margin-top: 12px !important;
}

  select, textarea{
    border: 1px solid #27252545;
    height: 40px;
    max-width: 175px;
  }
  input[type="text"]:-webkit-autofill,
  input[type="number"]:-webkit-autofill,
  select:-webkit-autofill,
  textarea:-webkit-autofill {
    -webkit-text-fill-color: #88472e;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset ;
  }
  input[type="text"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #9f6b57;
  }
  input[type="text"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #9f6b57;
  }
  input[type="text"]::placeholder,
  input[type="number"]::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #9f6b57;
  }
  input[type="text"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus {
    border-color: #11111d;
  }
  
  select, option{
    cursor: pointer;
    margin: 25px 0px !important;
  }

  input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .survey-form__group.survey__title__health {
    position: absolute;
    right: -75px;
  }

  .habits__form .survey__title__health {
    right: 0px;
  }

  .survey-form__group.survey__title__health button {
      width: 60px;
      height: 60px;
  }

  .habits__form .survey__title__health button {
    padding: 0;
    width: 140px;
    height: 50px;
    border: 1px solid #707070;
    border-radius: 24px;
  }

  .habits__form .survey__title__health button a { 
    text-align: center;
    font: Bold 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .survey-form__group.survey__title__health button img{
      width: 30px;
      height: 30px;
  }

  .main{
      margin: 50px auto 20px;
      width: 100%;
  }

  form#survey-form {
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
  }

  span.survey_sno {
    position: absolute;
    left: -25px;
    font: Bold 20px/25px Roboto;
    letter-spacing: 0.4px;
    color: #000000;
  }

  .personal__form__btn button {
    width: 75px !important;
    height: 75px !important;
  }
  .personal__form__btn button a, .personal__form__btn button a img {
    width: 50px !important;
    height: 50px !important;

  }
  .personal__form__btn .survey__title__health {
    margin-top: 0px !important;
    margin-bottom: 30px !important;
}
/* =======================
   Reponsive Styles  
   ========================  */
@media (min-width: 1365px) {
  .personal_details img{
    left: 28%;
  }
}
@media (min-width: 1200px) {
  .personal_details img{
    left: 25%;
  }
  .personal__item, .personal_data{
    flex-basis: 47%;
    max-width: 47%;
    margin-right: 0%;
  }
}

@media (max-width: 1280px) {
  .main{
    max-width: 475px;
  }
  span.survey_sno{
    left: 25px;
  }
  .survey-form__group.survey__title__health{
    right: 50px;
  }
}

@media (max-width: 1199px) {
    .personal__img, .morbodies__img, .symptoms__img{
        max-width: 500px;
    }
    .main{ 
      max-width: 65%;
      margin: 10% auto;
    }
    span.survey_sno {
      left: 70px;
    }
}

@media (max-width: 992px) {
    .personal__item, .personal_data{
        flex-basis: 100%;
        max-width: 100%; 
    }
    .personal__form {
        flex-direction: column;
    }
    .personal__item {
        height: 700px;
    }
    .personal__img, .morbodies__img, .symptoms__img, .habits__img {
      max-width: 100%;
      position: relative;
      left: 0%;
    }
    .personal_details h1{
      position: absolute;
      top: 15%;
      left: 15%;
    }
    .personal_details img {
      position: absolute;
      left: auto;
      right: 5%;
    }
    .main {
        max-width: 550px;
        margin: auto;
        margin-top: 75px;
    }
    span.survey_sno {
      left: auto;
      margin-left: -45px;
    }

}

@media (max-width: 768px) {
  .survey__title__health{
      margin-right: 0px;
  }
  .survey__title h1, .survey__title__health h3 {
      font: Bold 35px/45px Roboto,Arial,sans-serif;
  }
}

@media (max-width: 567px) {
  .survey__title{
    left: 41.3%;
    top: 27%;
    transform: translate(-27%, -41.3%);
  }
  .survey__title h1{
    max-width: 300px;
  }
  .survey__title h1, .survey__title__health h3{
    font: Bold 30px/40px Roboto,Arial,sans-serif;
    margin-top: 25px;
  }
  .survey__title__health{
    text-align: center;
    flex-direction: column;
    max-width: 300px;
    margin: 75px auto 0px;
  }
  .main {
      max-width: 400px;
      margin: auto;
      margin-top: 50px;
  }
  .survey-form__radio-container{
    display: inline-block;
    width: 100px;
    margin: 22px 0 0px;
  }
  span.survey_sno{
    margin-left: -25px;
  }
  .survey__title__health button{
    width: 90px;
    height: 90px;
    margin-left: 0;
    margin-top: 30px;
  }
  .survey__title__health button a , .survey__title__health button img{
      width: 45px;
      height: 45px;
  }
}

@media (max-width: 414px) {
    .main {
        max-width: 320px;
        margin: auto;
        margin-top: 50px;
    }
}
